#main_frame{
	width: 1000px; min-height: 190px;
	margin: auto; padding: 0 0 20px 0;
	position: relative; /*для позиционирования других блоков относительно main_frame*/
    background: #454545;
    border-bottom: 2px solid #1E1E1E;
	color: #72B6F0;
}
#main_frame h1, #main_frame h2{
	width: 320px; height: 36px;
	margin: 0 0 0 139px; padding: 4px 0;
	font: 1.3em/34px Geneva, Arial, Helvetica, sans-serif normal;
	color: #8EE16E;
}
#main_frame h2 {
    font-size: 1.1em;
}
#main_frame h2 span{
	color: #F0EBA0;
}
#main_frame form, #main_frame h2{
    margin: 0 0 0 30px;
}
/*### форма ###*/

    #text_list li{
        margin: 5px 0 0 0;
    }
    #text_list label{
        font: 0.98em Geneva, Arial, Helvetica, sans-serif normal;
		display: block; float: left;
		width: 94px;
    }
	.ordered #text_list li{
		margin: 0 0 0 30px;
	}
	.ordered #text_list input{
		margin: 5px 0 0 5px;
	}
    /*класс текстового поля*/
    .field {
        width: 350px; height: 21px;
    }
	.ordered .field{
		width: 380px;
	}
    /*класс кнопки добавления текстового поля*/
    .add_field {
        width: 25px; height: 25px;
    }
    /*класс кнопки следующий шаг*/
    .next_step {
        margin: 0 0 0 297px;
        width: 150px; height: 30px;
    }
	.ordered .next_step{
		margin: 0 0 0 297px;
	}
/*#######################################*/

/*### содержание ###*/

    #contents, #help {
        float: right;
        width: 230px;
        margin: 15px 10px 0 0; padding: 0 0 0 15px;
        border-left: 1px solid #B4B4B4;
    }
	#help p{
		margin-top: 5px;
		color: #F0EBA0;
	}
    #contents ul {
        list-style: disc inside;
    }
    #contents li {
        margin: 0 0 5px 0;
    }
    #contents a{
        font: 0.95em Geneva, Arial, Helvetica, sans-serif normal;
        color: #72B6F0;
        text-decoration: none;
    }
    #contents a:hover{
        color: #F0EBA0;
        text-decoration: underline;
    }
    #contents a.finish {
        font-weight: bold;
    }
    body#main_body .main,
    body#tasks_body .tasks,
    body#func_body .func,
    body#u_func_body .u_func,
    body#players_body .players,
    body#mockups_body .mockups {
        color: #F0EBA0;
        text-decoration: none;
        margin-left: -5px;;
    }
    body#finish_body .finish {
        color: #8EE16E;
        text-decoration: none;
    }
/*#######################################*/